# Copy to: /Users/chih/Desktop/testdeploy/web/.env.production

VITE_WALLETCONNECT_PROJECT_ID=
VITE_BSC_RPC_URL=
VITE_FLAP_TOKEN_ADDRESS=0x1b2884470a5de9a39dc234a20141146de6b67777
VITE_FLAP_DIVIDEND_ADDRESS=0x7BAf5A394183Ff0C3592aD5980Db524CD2e7881E
VITE_ELEMENT_NFT_URL=
VITE_SYSTEM_ACCESS_CONTROL_ADDRESS=
VITE_REFERRAL_REGISTRY_ADDRESS=
VITE_GAME_REGISTRY_ADDRESS=
VITE_GAME_MANAGER_ADDRESS=
VITE_BANKROLL_VAULT_ADDRESS=
VITE_INCOME_POOL_ADDRESS=
VITE_DIVIDEND_BANK_NFT_ADDRESS=
VITE_NFT_REVENUE_DISTRIBUTOR_ADDRESS=
